extends ../layout
include ../mixins/_captureForm
include ../mixins/_devicesForm
include ../mixins/_loading
include ../mixins/_errorDevice

block content
  main.container
    h1.text.text--title.text--primary Comparar rutas
    form.form(method="POST" action="/screen/compare" class = 'form--compare')
      .row.panel-card
        .col-xs-12.col-sm-5
          +captureForm({hideButton: true, id: 'compareOne'})
        .col-xs-12.col-sm-2.text--center
          h2.text.text--alternative VS
        .col-xs-12.col-sm-5
          +captureForm({hideButton: true, id: 'compareTwo'})
        .col-xs-12.text--right.compare_action
          button.btn.btn--primary(type="submit") Compare
          +errorDevice()
      +devicesForm({devices, id: 'results'})
    #comparation-results.comparison
  +loading()
