extends ../layout
include ../mixins/_captureForm
include ../mixins/_devicesForm
include ../mixins/_loading

block content
  main.container
    h1.text.text--primary Captura de pantalla
    - var id = 'results';
    form.form.form-capture(action="/screen/shot" method="POST")
      .panel-card
        +captureForm({devices, id: id, maxInput: false})
      +devicesForm({devices, id: id})
    div(id=id class="form__results comparison hidden row")
  +loading()
