$anim_time: 2.1; // main pan/pancake animation (in seconds)
$flatten_deg: 85; // how round will the pancake be at the top/peak (in deg), affecting general animation though so not really adjustable
$angle: 27; // max pan's angle while flipping (in deg)
$peak: 40%; // pancake's highest level, obviously ;)
$color: $col-text-primary; // the rest

.loading {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $col-blue-darker;

  .loading-bro {
    margin: 50px auto;
    width: 150px;

    >h1 {
      text-align: center;
      font-size: 2.5em;
      margin-bottom: 1em;
      font-weight: 300;
      color: $col-text-primary;
    }
  }

  #load {
    width: 150px;
    animation: loading 3s linear infinite;

    #loading-inner {
      stroke: {
        dashoffset: 0;
        dasharray: 300;
        width: 10;
        miterlimit: 10;
        linecap: round;
      }

      animation: loading-circle 2s linear infinite;
      stroke: $col-text-primary;
      fill: transparent;
    }
  }

  @keyframes loading {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes loading-circle {
    0% {
      stroke-dashoffset: 0
    }

    100% {
      stroke-dashoffset: -600;
    }
  }
}
