$col-blue-lightest: #f4f8f9;
$col-blue: #4da1ff;
$col-white: #fff;
$col-red-lightest: #fff0ec;
$col-red: #EA5C54;
$col-yellow-lightest: #fffae7;
$col-yellow: #ffd012;
$col-green-lightest: #f2ffe6;
$col-green: #97c66b;
$col-grey: #8c8c8c;
$col-grey-darken: #444;
$col-grey-light: #e6e6e6;
$col-grey-lightest: #f3f3f3;
$font-family: 'Poppins',
sans-serif;
$aside-width: 6rem;
$font-size-base: 16px;
$font-weight-normal: 300;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$col-primary:#1f222e;
$col-text-primary: #EA5C54;

$col-blue-dark: darken($col-primary, 2%);
$col-blue-darkest: darken($col-primary, 5%);
$col-blue-darker: $col-primary;

$col-text: #afb1be;


$font-size-m: $font-size-base+2px;
$font-size-l: $font-size-base+4px;
$font-size-xl: $font-size-base+8px;
