@import '~font-awesome/css/font-awesome.min.css';
@import '~noty/src/noty';
@import '~noty/src/themes/nest';
@import './reset';
@import './screen/index';
@import './card/index';
@import './forms/forms';
@import './menu/_menu';
@import './utils/index';
@import './buttons/button';
@import './grid/index';
@import './table/table';
@import './loading/index';

html {
  height: 100%;
}

body {
  font-family: $font-family;
  color: $col-text;
  font-size: $font-size-base;
  background-color: $col-blue-darker;
}

.app {
  height: 100%;

  .row {
    height: 100%;
    position: relative;
  }
}


.device {
  &__choice {
    background: $col-blue-darker;
    color: $col-text;
    display: inline-block;
    clip-path: polygon(10px 0%, 100% 1%, 100% 100%, 10px 100%, 0% 50%);
    margin: .3rem;

    input[type=checkbox] {
      width: auto;
      right: -1.5rem;
      margin-right: -1rem;
      position: relative;
      z-index: 2;
      display: none;

      &+label {
        background: darken($col-blue-darker, 2%);
        padding: .5rem 1rem;
        display: inline-block;
        cursor: pointer;
        user-select: none;
      }

      &:checked+label {
        background: $col-text-primary;
        color: #fff;
      }
    }
  }
}
