extends layout

block content
  .inner.text-center
    h2 Joseeeee #[i(class="fa fa-volume-up")]
    p This shit is broken! #[small Maybe?]
    h3= status
    p= message
  pre.error!= stackHighlighted