doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= `${title} | ${h.siteName}`
    block style
      link(rel='stylesheet', href='/dist/style.css')
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet")
  body
    block aside
      .container
        nav.nav
          ul.nav__section.nav__section--pages
            li.nav__item
              a.nav__link.nav__link--logo(href="/" title="Call me 'The best Front'") CJ
            each item in h.menu
              li.nav__item
                a.nav__link(href=item.slug,
                  class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : '') title=item.title)= item.title
            if (user)
              li.nav__item.nav__item--login
                  a.nav__link(href="/logout") Salir
    block content
    block scripts
      script(src="/dist/App.bundle.js")
