doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet")
  body.login-layout
    block content
    block scripts
      script(src="/dist/App.bundle.js")
