extends loginLayout
block content
  main.container
    .login
      .login__title
        p.text--center Accede a tu cuenta
      form(action="/login" method="POST" class="form login__form login__form--vertically")
        if (errors && errors.length)
          p.text--center.notice.notice--error Usuario o contraseña incorrecta
        div.form__group.text--center
          input(class="form__group__input input input--dark text--center" type="email"
          name="email" placeholder="email" required value=email ? email : '')
        div.form__group.text--center
          input(class="form__group__input input input--dark text--center" type="password" name="password" placeholder="********"
          required )
        div.form__group.text--center
          button(role="submit" class="btn btn--primary") Log in
