table,
.table {
  width: 100%;
}

table td,
table th {
  border: 1px solid darken($col-primary, 5%);
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: darken($col-primary, 5%);
}

table tr:hover {
  background-color: lighten($col-primary, 5%);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: $col-text-primary;
  color: #fff;
}
