include _devicesForm
include _errorDevice

mixin captureForm(opts = { devices: {}, hideButton: false, id: 'results', maxInput: true})
  .form__group
    input(placeholder="https://www.sample.com/" type="url" name="url" id="url"
      class=`input input--dark text--center ${maxInput ? 'input--max' : '' }` required autocomplete="off")
  if (!opts.hideButton)
    .col-xs-12.text--right
      button(type="submit" class="btn btn--primary")
        | Shot now!
      +errorDevice()
