mixin devicesForm(opts)
  .form__devices(id=opts.id + "-collapse")
    p.text.text--label.text--primary Dispositivos
    ul.devices
      each device in opts.devices
        if (!device.viewport.isLandscape)
          - var name = device.name.split(' ').join('-').toLowerCase()
          .device.device__choice(class = (opts.devicesAsRow) ? 'device--row' : '')
            input(type='checkbox' id=name value=device.name name='devices[]' checked=device.checked)
            label(for=name)= device.name
