.text {
  &#{&}--title {
    margin: 0.5em 0;
  }

  &#{&}--primary {
    color: $col-text-primary;
  }

  &#{&}--xl {
    font-size: $font-size-xl;
  }

  &#{&}--alternative {
    color: lighten($col-primary, 5%);
    padding: 1em 0;
  }
}
