.hidden {
  display: none !important;
}

a {
  color: $col-text-primary;
  text-decoration: none;
}

.link {
  cursor: pointer;
  color: $col-text-primary;
}

.animated {
  animation: fadein 2s ease-in-out infinite;
}

.overflow--hidden {
  overflow: hidden;
}

.display--inline-block {
  display: inline-block;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
