@import '../variables';

.status {
  display: inline-block;
  padding: .4rem .5rem;
  border-radius: 3px;

  &--0 {
    background-color: $col-grey;
  }

  &--1 {
    background-color: $col-red;
  }

  &--5 {
    background-color: $col-green;
    color: $col-white;
  }

  &--7 {
    background-color: $col-yellow;
    color: $col-grey-darken;
  }
}

.comparison {
  table {
    margin: 2rem 0;
  }
}
