$grid__cols: 12;
$grid__bp-xs: 576;
$grid__bp-sm: 768;
$grid__bp-md: 992;
$grid__bp-lg: 1200;



$map-grid-props: ('-xs': $grid__bp-xs,
'-sm': $grid__bp-sm,
'-md': $grid__bp-md,
'-lg': $grid__bp-lg);

@mixin create-mq($breakpoint) {
  @if($breakpoint==$grid__bp-xs) {
    @content;
  }

  @else {
    @media screen and (min-width: $breakpoint *1px) {
      @content;
    }
  }
}

@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
  @include create-mq($breakpoint) {
    .col#{$modifier}-offset-0 {
      margin-left: 0;
    }

    @for $i from 1 through $grid-cols {
      .col#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid-cols / $i)) * 1%;
      }

      .col#{$modifier}-offset-#{$i} {
        margin-left: (100 / ($grid-cols / $i)) * 1%;
      }
    }
  }
}

.container {
  max-width: $grid__bp-lg * 1px;
  margin: 0 auto;

  &--fluid {
    margin: 0;
    max-width: 100%;
  }


}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@each $modifier,
$breakpoint in $map-grid-props {
  @include create-col-classes($modifier, $grid__cols, $breakpoint);
}
