input[type=text],
.input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;

  &::placeholder {
    color: lighten($col-blue-dark, 15%);
  }
}

.input {
  &#{&}--dark {
    color: $col-text;
    background: $col-blue-dark;
    border: none;
    outline: none;
    box-shadow: none;
    border: 2px solid lighten($col-blue-dark, 3%);

    &:focus {
      border: 2px solid lighten($col-blue-dark, 15%);
    }
  }

  &#{&}--max {
    max-width: 600px;
  }
}
