@import '../_variables';

.login {
  max-width: 350px;
  background: lighten($col-blue-dark, 5%);
  padding: 1rem;
  margin: 0 auto;
  margin-top: 20vh;

  &__title {
    color: $col-text;
    margin: 1.5em 0 1rem 0;
  }
}
