.btn {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: .2s;
  cursor: pointer;

  &#{&}--primary {
    border: 2px solid $col-text-primary;
    color: $col-text-primary;

    &[disabled],
    &[disabled]:hover {
      border-color: lighten($col-blue-dark, 5%);
      color: lighten($col-blue-dark, 5%);
    }

    &:hover {
      color: lighten($col-text-primary, 3%);
      border-color: lighten($col-text-primary, 3%);
    }
  }
}
