@import '../_variables';

.nav {
  padding: .5rem 0;
  margin-bottom: 2rem;

  &__section {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__item {
    list-style: none;
    display: inline-block;

    &:first-child {
      a {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &--login {
      float: right;
    }
  }

  &__link {
    text-align: center;
    margin: .5rem;
    color: $col-text;
    text-decoration: none;
    border: 1px solid transparent;
    padding: .4rem;
    display: block;

    &:hover {
      color: lighten($col-text, 10%);
    }

    &#{&}--active {
      border-bottom: 1px solid $col-text-primary;
      color: darken($col-text, 5%);
    }
  }
}
